a {
  color: #7F7FFF;
}

a:visited {
  color: #A77DCE;
}

.App {
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.App-menu a {
  text-decoration: none;
  color: white;
}

.App-logo {
  height: 4vh;
}

.App-link {
  color: #61dafb;
}

.App-content {
  color: white;
  background: linear-gradient(#14171f, #1d212c);
  height: 92vh;
  padding: 0 calc(0.5rem + 1vmin);
  overflow-y: auto;
  box-sizing: border-box;
}

.App-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

.App-bigtext {
  font-size: calc(18px + 2vmin);
}

.App-slim {
  width: 90%;
}

.My-name {
  color: #5f77ff;
}

.My-school {
  color: #ff5f6c;
}

.My-programme {
  color: #cd91ff;
}

.text-i {
  font-style: italic;
}

.inline {
  display: inline-block;
}

/* No Top Spacing */
.nts {
  margin-top: 0;
  padding-top: 0;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li:before {
  content: '-';
  float:left;
  text-indent: -1.15em;
}

/* Used in DH2650 */
@keyframes HueRotation {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(360deg);;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App-page {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App-page {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App-page {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App-page {
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App-page {
    width: 50%;
  }
}